.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

.toast {
  padding: 8px 16px; /* Add some padding */
  background-color: #6495ED; /* Light red background for error */
  color:white; /* Dark red text for error */
  border-radius: 4px; /* Rounded corners */
  min-width: 200px; /* Maximum width */
  text-align: center; /* Center the text */
  margin-top: 16px; /* Space above */
}

.right-container{
 

  margin-left: 15%; 
  margin-right: 15%;
  transform: translate(0%, 140%);
  position: relative;
  width: 70%;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sthelse
{
    position: "relative";
    color:black;
    text-align: "center";
}

.paper{
    top: "4em";
    padding: "50px 20px";
    width: 470;
    margin: "20px auto";
    gap: "10px";
    position: "relative";
}